* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#container {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.theme {
  height: 100vh;
  background-color: black;
  color: white;
}
.heading {
  background-image: url(./bg.jpg);
  height: 40vh;
  display: flex;
}
.h1 {
  padding: 20px;
  display: flex;
  width: 22vw;
  display: flex;
  align-items: flex-end;
}
.h2 {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  font-size: 4.5em;
}
.content {
  padding: 200px;
  text-align: justify;
  height: 60vh;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.topics-1 {
  height: 45vh;
  display: flex;
  background-color: rgb(1, 13, 66);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: -10% -10% -1;
  }
  to {
    transform: rotate(360deg);
    transform-origin: -10% -10% -1;
  }
}
.topic-img-1 {
  display: flex;
  width: 50vw;
  height: 45vh;

  align-items: center;
  justify-content: center;
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.topic-title-1 {
  font-weight: bold;
  font-size: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}
.topics-2 {
  height: 45vh;
  display: flex;
  background-color: rgb(1, 64, 66);
}
.topic-img-2 > img {
  height: 300px;
  width: 300px;
}
@keyframes wiggle {
  0% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-30px);
  }
}
.topic-img-2 {
  display: flex;
  width: 50vw;
  height: 45vh;
  animation: wiggle 4s linear infinite;
  align-items: center;
  justify-content: center;
}
.topic-title-2 {
  font-weight: bold;
  font-size: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}
.topics-3 {
  height: 45vh;
  display: flex;
  background-color: rgb(122, 70, 2);
}
.topic-img-3 > img {
  height: 200px;
  width: 600px;
}
@keyframes car {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(400%);
  }
}
.topic-img-3 {
  display: flex;
  width: 50vw;
  height: 45vh;
  animation: car 4s linear infinite;
  align-items: center;
  justify-content: center;
}
.topic-title-3 {
  font-weight: bold;
  font-size: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}
@-webkit-keyframes fadeinout2 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeinout2 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeinout3 {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout3 {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.topics-4 {
  height: 45vh;
  display: flex;
  align-items: center;
  background-color: #085b92;
}
.topic-title-4 {
  font-weight: bold;
  font-size: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}
.topic-img1-4 {
  height: 45vh;
  width: 10vw;
  transform: translateX(-60px);
}
.topic-img2-4 {
  height: 30vh;
  width: 35vw;
  transform: translateX(-110px);
  -webkit-animation: fadeinout2 5s  infinite;
  animation: fadeinout2 5s  infinite;
}
.topic-img3-4 {
  height: 30vh;
  width: 35vw;
  transform: translateX(110px);
  -webkit-animation: fadeinout3 5s  infinite;
  animation: fadeinout3 5s  infinite;
}
.topic-img4-4 {
  height: 45vh;
  width: 10vw;
  transform: translateX(60px);
}
.topics-5 {
  height: 45vh;
  display: flex;
  align-items: center;
}